@using BlazorBookGroup.Services;
<MudCard Elevation="25">
    <MudCardContent>
        <span>
            <MudAvatar Color="Color.Info" Variant="Variant.Outlined">@Post.User.FirstName.Substring(0,1)@Post.User.LastName.Substring(0,1)</MudAvatar>
            <MudText>@Post.User.FirstName @Post.User.LastName</MudText>
        </span>

        @if (!string.IsNullOrEmpty(Post.Content.QuoteLocation))
        {
            <hr>
            <MudText>@Post.Content.Quote</MudText>
            <MudText Typo="Typo.body2" class="d-flex justify-content-between">
                @Post.Content.QuoteLocation
            </MudText>
        }
    </MudCardContent>
    <Comments Post="@Post"/>
</MudCard>


@if (!PostExists)
{
    <h1>ERROR: Post is null</h1>
}

@code {
    [Parameter, EditorRequired]
    public Post Post { get; set; } = null!; //definitely want this to be required

    private string? CollapseId;
    private bool PostExists = true;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Post != null)
        {
            CollapseId = "collapse" + Post.Content.Id;
        }
        else
        {
            PostExists = false;
        }
    }
}
