@page "/postlist"

@using BlazorBookGroup.Pages
@using BlazorBookGroup.Services;
@inject PostListService PostListService

<ul>
    @foreach (Post post in posts)
        {
            <li class="postli">
                <PostPage Post="@post"/>
            </li>
        }
</ul>


<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="@ToggleOpen" />

<MudPopover Open="@_isOpen" Fixed="true" Class="px-4 pt-4">
    <div class="d-flex flex-column">
        <MudText>Content of the popover can be anything.</MudText>
        <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
    </div>
</MudPopover>
@code {
    public bool _isOpen;

    private IEnumerable<Post> posts;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        posts = PostListService.GetPosts();
    }
    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }
}